<div>
  <div class="card mb-4" *ngIf="tamamlandi">
    <div *ngIf="puan != 0" class="card-body">
      Tebrikler yarışmayı {{ puan }} puan ile tamamladınız!
    </div>
    <div *ngIf="puan == 0" class="card-body">
      Maalesef yarışmayı {{ puan }} puan ile tamamladınız!
    </div>
  </div>
  <div class="card" *ngIf="!mevcutSoru; else mevcutSoruYoksa">
    <div class="card-header">
      <h5 class="mb-0">Kelime Oyunu Yarışmasına Hoşgeldiniz!</h5>
    </div>
    <div class="card-body">
      Yarışmaya başlamak için yarışmaya başla butonuna basın.
    </div>
    <div class="card-footer">
      <button class="btn btn-info" (click)="basla()">Yarışmaya Başla</button>
    </div>
  </div>
  <ng-template #mevcutSoruYoksa>
    <div class="card">
      <div class="card-header d-flex">
        <h4 class="mr-4">{{ mevcutSoru.soru }}</h4>
        <!-- TO DO son soruda soru ver çıkmayacak, soruyu cevapladığında tebrikler bölümü görünebilir. -->
      </div>
      <div class="card-header d-flex">
        <div class="d-flex">
          <div class="totalSecond">
            <span>Toplam Süre</span>
            <div id="countdown">
              <div id="countdown-number" class="float-right">{{toplamKalanSure}}</div>
              <svg>
                <circle id="total" r="18" cx="20" cy="20"></circle>
              </svg>
            </div>
          </div>
          <div class="mr-4 float-right" *ngIf="!cevaplandi;else emty">
            <span>Cevap Süresi</span>
            <div id="countdown">
              <div id="countdown-number" class="float-right">{{kalanSure}}</div>
              <svg>
                <circle id="single" r="18" cx="20" cy="20"></circle>
              </svg>
            </div>
          </div>
          <!-- <div class="mr-2 float-right">
            <button class="btn btn-info  mr-2 float-right" (click)="soruVer()" *ngIf="cevaplandi"><span> Sonraki Soru
              </span></button>
          </div> -->
        </div>

        <!-- TO DO son soruda soru ver çıkmayacak, soruyu cevapladığında tebrikler bölümü görünebilir. -->
      </div>
      <div class="card-body">
        <div class="row">
          <harf [deger]="harf.harf.toLocaleUpperCase('tr')" [acik]="harf.acildi" *ngFor="let harf of harfler"></harf>
        </div>
      </div>
      <div class="card-footer">
        <div class="row">
          <div class="col-md-4 d-flex">
            <div class="mr-4">Toplam Puan: {{ puan }}</div>
            <div class="mr-4">Kelime Puanı: {{ harfPuan }}</div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <div class="input-group">
          <!-- <div class="input-group-append"> -->
          <button [disabled]="!harflerVerildi" class="btn btn-danger" (click)="harfVer()">
            <span>Harf Ver</span>
          </button>
          <input class="form-control ml-2 mr-2" type="text" placeholder="Cevapla" [(ngModel)]="yarismaciCevap"
            (keypress)="enterIleCevapVer($event)" (keyup)="yarismaciCevap = yarismaciCevap.toLocaleUpperCase('tr')" />
          <button [disabled]="!yarismaciCevap" (click)="cevapVer()" class="btn btn-success">
            <span>Cevap Ver</span>
          </button>
        </div>
        <!-- </div> -->
      </div>
      <div class="card-footer" [ngClass]="mesajClass" *ngIf="mesaj">
        <i class="fa fa-fw fa-lg fa-check"></i> {{ mesaj }}
      </div>
    </div>
  </ng-template>
</div>
<nav class="navbar fixed-bottom navbar-light" style="background-color: #4ecdc4;">
  <span class="navbar-text navbar-nav my-2 my-lg-0 mr-3">
    <strong>Toplam Puan :</strong>
    <span class="badge badge-info">{{ puan }}</span>
  </span>
  <span class="navbar-text navbar-nav my-2 my-lg-0 mr-3">
    <strong>Soru Puanı :</strong>
    <span class="badge badge-info">{{ harfPuan }}</span>
  </span>
</nav>