.form-control {
  border: 1px solid #fa1570;
  color: #fa1570;
  border-radius: 0.25rem !important;
}

#countdown {
  position: relative;
  height: 40px;
  width: 40px;
  text-align: center;
}

#countdown-number {
  color: white;
  display: inline-block;
  line-height: 40px;
}

svg {
  position: absolute;
  width: 40px;
  height: 40px;
  transform: rotateY(-180deg) rotateZ(-90deg);
}

svg circle {
  stroke-dasharray: 113px;
  stroke-dashoffset: 0px;
  stroke-linecap: round;
  stroke-width: 2px;
  stroke: #fa1570;
  fill: none;
  animation: countdown 10s linear infinite forwards;
}

#total {
  animation: countdown 300s linear infinite forwards !important;
}
.totalSecond{
    margin-right: 8rem !important;
}
@keyframes countdown {
  from {
    stroke-dashoffset: 0px;
  }
  to {
    stroke-dashoffset: 113px;
  }
}

.btn-success {
  background-color: #25a499;
  border-color: #25a499;
}
.btn-danger {
  background-color: #ff1743;
  border-color: #ff1743;
}

.btn-info {
  background-color: #fa1570;
  border-color: #fa1570;
}
